.fa-html5 {
    color: #f4470b
}

.fa-js-square {
    color: #efd81d
}

.fa-sass {
    color: #cf689a
}

.fa-css3-alt {
    color: #146eb0
}

.fa-react {
    color: #5ed3f3
}

.fab,
.fas {
    font-size: 60px;
    margin: 0 10px;
}

.firebase,
.jquery {
    height: 60px;
    position: relative;
    top: 7px
}
