.headerBackground {
    background-image: url(./assets/vscode.PNG);
    height: 100vh;
    filter: blur(3px);
    background-size: cover;
}

header {
    @include flexCenter;
    flex-direction: column;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    color: white;
}

section {
    margin: 100px 0;
}

.border {
    border: 2px $colorOne solid;
    padding: 50px;
    position: relative;
    @include flexCenter

}

.border h3 {
    position: absolute;
    top: -12px;
    background-color: white;
    display: inline-block;
    padding: 0 70px;
    color: $colorTwo
}

h4 {
    color: $colorTwo
}

.fa-html5 {
    color: #f4470b
}

.fa-js-square {
    color: #efd81d
}

.fa-sass {
    color: #cf689a
}

.fa-css3-alt {
    color: #146eb0
}

.fa-react {
    color: #5ed3f3
}

.fab {
    font-size: 60px;
    margin: 0 10px;
}

.firebase,
.jquery {
    height: 60px;
    position: relative;
    top: 7px
}

.projects {
    display: flex;

}

.projects li {
    width: calc(100vw / 3);
    padding-top: 25px;
}

.quarantinePursuit {
    background-color: #afedff;
    color: $colorTwo;
}
.quarantineTitle {
    height: 80px;
}

.getProductive {
    background: linear-gradient(to top, #283E51, #0A2342);
    color: white
}
.getProductive h4 {
    font-family:"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    text-transform: none;
    color: white;
    font-size: 40px;
}

.directionsFromDad {
    background-color: #79c7d4;
    color: $colorTwo;
}

.directionsFromDad h4 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 40px
}

.contactMe {
    display: flex;
    flex-direction: column;
}

button {
    background-color: $colorTwo;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}