.noscroll{
    position:fixed;
    overflow: hidden;
}

.headerBackground {
    background-image: url(./assets/vscode.PNG);
    height: 100vh;
    filter: blur(3px);
    background-size: cover;
}

// Allows About Me section to scroll up while rest of page scrolls normally
.scroll{
    overflow-y: scroll;
    position: absolute;
    top: 0;
    width: 98vw;
    height: 100vh;

    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.scroll::-webkit-scrollbar { 
    display: none; 
}

header {
    margin-top: 40vh;
    color: white;
}

h1 {
    font-family: 'signature', cursive;
    text-transform: none;
    font-size: 120px;
    font-weight: 200;
    margin-bottom: 20px;
}

h2 {
    text-transform: none;
}

// sets anchor height for nav menu
#aboutMe {
    position: relative;
    top: 300px;
}
.aboutMe {
    margin-top: 500px;
    margin-bottom: 300px;
    color: white;
}

.aboutTitle{
    color: white;

}

section {
    margin: 100px 0;
}

.border {
    border: 2px $colorOne solid;
    padding: 50px;
    position: relative;
    @include flexCenter

}

.border h3 {
    position: absolute;
    top: -12px;
    background-color: white;
    display: inline-block;
    padding: 0 70px;
    color: $colorTwo
}

h4 {
    color: $colorTwo
}


.projects {
    display: flex;
    justify-content: space-evenly;
}

.projects li {
    width: 30%;
    padding-top: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.quarantinePursuit {
    background-color: #afedff;
    color: $colorTwo;
}
.quarantineTitle {
    height: 80px;
    width: 400px;
    align-self: center;
}

.getProductive {
    background: linear-gradient(to top, #283E51, #0A2342);
    color: white
}
.getProductive h4 {
    font-family:"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    text-transform: none;
    color: white;
    font-size: 40px;
}

.directionsFromDad {
    background-color: #79c7d4;
    color: $colorTwo;
}

.directionsFromDad h4 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 40px
}

.contactMe {
    display: flex;
    flex-direction: column;
}

a,
.showForm {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}



.links {
    display: flex;
    justify-content: space-evenly;
}

.contactLinks a,
.showForm { 
    width: 100%;
    display: flex;
    color: #283E51
}

.contactLinks {
    display: flex;
}

a:hover,
.showForm:hover {
    color: #f57f17
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0;
}

.namePair,
.emailPair {
    width: 50%;
    padding: 20px;
}

.messagePair {
    width: 100%;
}

textarea {
    resize: none;
    width: 100%;
    height: 250px;
}

.submitForm {
    color: white;
    background-color: #283E51;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px 15px;
}

.hidden {
    display: none;
}

@media (max-width: 900px) {
    .projects {
        flex-direction: column;
        align-items: center;
    }

    .projects li {
        width: 90%;
        margin: 20px 0 ;
    }
    .namePair,
    .emailPair {
        width: 100%;
    }
}

@media (max-width: 1400px){

    .quarantineTitle {
        width: 250px;
        height: 50px;
    }

    .directionsFromDad h4 {
        font-size: 20px;
    }
}

