html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'signature';
  src: url(./assets/jennifer_lynne-webfont.woff);
}

li {
  text-decoration: none;
  list-style: none;
}

ul {
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  text-transform: uppercase;
}

.wrapper {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: #919191;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.noscroll {
  position: fixed;
  overflow: hidden;
}

.headerBackground {
  background-image: url(./assets/vscode.PNG);
  height: 100vh;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  background-size: cover;
}

.scroll {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 98vw;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

header {
  margin-top: 40vh;
  color: white;
}

h1 {
  font-family: 'signature', cursive;
  text-transform: none;
  font-size: 120px;
  font-weight: 200;
  margin-bottom: 20px;
}

h2 {
  text-transform: none;
}

#aboutMe {
  position: relative;
  top: 300px;
}

.aboutMe {
  margin-top: 500px;
  margin-bottom: 300px;
  color: white;
}

.aboutTitle {
  color: white;
}

section {
  margin: 100px 0;
}

.border {
  border: 2px #919191 solid;
  padding: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border h3 {
  position: absolute;
  top: -12px;
  background-color: white;
  display: inline-block;
  padding: 0 70px;
  color: #373737;
}

h4 {
  color: #373737;
}

.fa-html5 {
  color: #f4470b;
}

.fa-js-square {
  color: #efd81d;
}

.fa-sass {
  color: #cf689a;
}

.fa-css3-alt {
  color: #146eb0;
}

.fa-react {
  color: #5ed3f3;
}

.fab,
.fas {
  font-size: 60px;
  margin: 0 10px;
}

.firebase,
.jquery {
  height: 60px;
  position: relative;
  top: 7px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projects li {
  width: 30%;
  padding-top: 25px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 20px;
}

.quarantinePursuit {
  background-color: #afedff;
  color: #373737;
}

.quarantineTitle {
  height: 80px;
  width: 400px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.getProductive {
  background: -webkit-gradient(linear, left bottom, left top, from(#283E51), to(#0A2342));
  background: linear-gradient(to top, #283E51, #0A2342);
  color: white;
}

.getProductive h4 {
  font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  text-transform: none;
  color: white;
  font-size: 40px;
}

.directionsFromDad {
  background-color: #79c7d4;
  color: #373737;
}

.directionsFromDad h4 {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 40px;
}

.contactMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a,
.showForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contactLinks a,
.showForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #283E51;
}

.contactLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a:hover,
.showForm:hover {
  color: #f57f17;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px 0;
}

.namePair {
  width: 50%;
}

.emailPair {
  width: 50%;
}

.messagePair {
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
  height: 250px;
}

.submitForm {
  color: white;
  background-color: #283E51;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  padding: 5px 15px;
}

.hidden {
  display: none;
}

.hamburger-menu {
  height: 0;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  z-index: 20;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 30;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

.hamburger-menu a {
  width: 100%;
}
